p,div,body {
  margin:0;
  padding:0;
}

body {
  background-color:#006600;
}

#content {
  margin-top:75px;
  background-color:#F9F7ED;
  padding:10px;
  min-width:800px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	-webkit-border-radius: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
	border:5px solid #858190;
}

#header {
  margin:0;
  width:100%;
  min-width:800px;
  height:117px;
  background-image:url(/public/image/header.png);
  background-repeat:repeat-x;
}

#header_content {
  float:left;
  margin-top:35px;
}

#doc_block {
	margin-left:center;	
	margin-right:center;
}

#searchbox {
	float:right;
	margin-right:55px;
  margin-top:42px;
  width:142px;
  background-image:url(/public/image/search_box.png);
}

#header h1 {
 margin:0;
}
#head2 {
  margin-left:auto;
  margin-right:auto;
  min-width:800px;
  width:800px;
}

#right_col {
	width:250px;
	float:right;
}

#left_col{
	width:250px;
	float:left;
}

#packages {
	width:500px;
	margin-left:auto;
	margin-right:auto;
}
#searchbox_form {
  padding: 0;
  border: 0;
  height:16px;
  margin:6px 0 0 6px;
  padding:0;
  width:133px;
  background: none;
  outline: none;
}